// app global css
$primary   = #bcf95c
$secondary = #26A69A
$tertiary  = #555
$tertiaryHover = #111 
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

.logo_styl
   height: 80px
   width: 150px
   cursor:pointer 

.header-links
   color: $tertiary
   margin-left: 30px
   cursor:pointer 
   &:hover
      text-decoration:underline
      color: $tertiaryHover
.right-pull
   float: right
   margin: 10px
.carousel-main-page
   clear: both 
.footer-text
   color : #555 
   white-space : normal
   word-spacing: 3px
   line-height: 30px
   text-align: center
.color-tertiary
  color:$tertiary !important
.footer-icons
  font-size: 36px
  cursor:pointer
  margin-left: 5px;
.fb-icon
  color:#3C5A99
.google-icon
  color: #CE1B21
.twitter-icon
  color:#34ABDE
.custom-footer
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  
.gametile-div
  padding:10px
.in-site-head
  color:$tertiary
  text-align: center
.game-tile-card
  background:$secondary
  color:$neutral
.game-tile-icon-layer
  float:right
  font-size:20px
  cursor:pointer

.image-wrapper
  width: 200px
  height 150px
  padding: 20px
  color: $tertiary
.image-content
  height: 100%
  width: 100%
.q-carousel-track
   width: 824px