// app global css
$primary   = #bcf95c
$secondary = #26A69A
$tertiary  = #555
$tertiaryHover = #111 
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

.logo_styl
   height: 80px
   width: 150px
   cursor:pointer 

.header-links
   color: $tertiary
   margin-left: 30px
   cursor:pointer 
   &:hover
      text-decoration:underline
      color: $tertiaryHover
     

